{% load static %}
<header class='main-header-container'>
    <div class="main-header container ">
        <a class='main-logo' href='{% url "moves:home" %}'>
            <h1 class="text-center">
                <img src="{% static "handbook/img/white-belt-png.png" %}" class='ico-img-logo' alt="temporario">
                <span class='main-logo-text'>Técnicas de Jiu-Jitsu</span>
                <img src="{% static "handbook/img/white-belt-png.png" %}" class='ico-img-logo' alt="temporario">
                
            </h1>
        </a>
    </div>
</header>

